body{
    background-color: black;
}

textForm{
    color:rgba(190, 188, 188, 0.87)
}

.pageForm{
    opacity: 0.82;
}

.jumbotron{
    margin-top: 100px; 
    padding: 30px; /* fills out the jumbotron */
    background-color: rgba(165, 165, 165, 0.87);
}